.btn-primary {
    background-color: #4c5996 !important;
    border-color: #4c5996 !important;
}

h3 {
    background-color: #cef442;
    color: #4c5996 !important;
   
}

.dropdown-menu > li > a:hover {
    background-color: #4c5996 !important;
    color: white !important;
}
